body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 900;
  color: #323232;
}

h5 {
  font-weight: 400;
  line-height: 1.5;
  color: #393E46;
}

.container-fluid {
    padding: 3% 15%;
}

#title {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

/* Nav Bar */

.navbar {
  padding-bottom: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 300;
}

.hidden {
  display: none;
}

/* Social Buttons */

.social-button {
  margin: 5% 3% 5% 0;
}

.btn-dark {
  background-color: #323232;
}
