body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Rubik';
  font-size: 2.9rem;
  line-height: 1.5;
  font-weight: 900;
  color: #FFEDDB;
}

h5 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #FFEDDB;
}

#home-section {
  height: 100vh;
  background-color: #4158d0;
  background-image: linear-gradient(
    30deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}


#home-main-div {
  padding: 3% 15%;
}

/* Nav Bar */

.navbar {
  padding: 0 0 5rem;
}

.navbar-brand {
  width: 150px;
  -webkit-filter: drop-shadow(5px 5px 5px #A267AC);
  filter: drop-shadow(5px 5px 5px #A267AC);
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
}

.hidden {
  display: none;
}

/* Social Buttons */

.social-button {
  margin: 8% 3% 5% 0;
}

/* !important is important */
.btn-outline-light {
  background-color: #8064A2 !important;
  color: #FFEDDB;
  border-color: #FFEDDB;
}

.btn-outline-light:hover {
  background-color: #FFEDDB !important;
  color: #655D8A;
}

/* Make home section responsive */
@media (max-width: 991.98px) {
  #home-section {
    height: 100%;
  }
}
